<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板页面</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">操作成功</div>
    <div class="layui-card-body">
        点击左侧菜单以操作笔记
    </div>
</div>
<script th:src="@{/layui.js}"></script>
</body>
</html>